body{
    background-color: #bde8db;
    user-select: none;
}



.menu{
    display: flex;
    /* Transformation en flexbox */
    padding: 0px;
    /* Suppression des marges internes */
    background-color: #8ed3c2;
    /* Ajout de la couleur d'arrière-plan */
    justify-content: center;
    /* Alignements des liens dans le menu */
    border-radius: 10px;
    /* Change le bord */
}
.menu li {
    list-style-type: none;
    /* Suppression des puces */
}


.menu a:hover /*hover est utiliser pour mettre un effet au survol des boutons */{
    background-color: #8ed3c2;
    color: #bde8db;
    border-color: #bde8db;
}

.menu a {
  display: block;
  /* Transformation en block */
  min-width: 120px;
  /* Largeur minimale des liens */
  margin: 0.5rem;
  /* Marges externes ( 1 valeurs = 4 directions) */
  padding: 0.4rem 0;
  /* Marges internes ( 2 valeurs = haut/bas et gauhe/droite)*/
  text-align: center;
  /* Centrage du texte */
  background-color: #bde8db;
  /* Couleur d'arrière-plan */
  color: #58b5a3;
  /* couleur du texte */
  text-decoration: none;
  /* Suppression du soulignement */
  border-radius: 5px;
  /* Arrondis des bordures */
  border: 1px solid #bde8db;
  /* Ajout d'une bordure */
  transition: all 1s;
  /* la propriété 'all' signifie que toutes les propriétés qui changent
  avec le survol seront animées et '1s' correspond à la durée d'animation */
  }

.imgnew {
  height: 400px;
  margin-left: 50%;
  transform: translate(-50%);
  
}

.imgps {
  height: 900px;
  margin-left: 50%;
  transform: translate(-50%);
}

.imgpsps {
  height: 336px;
  margin-left: 50%;
  transform: translate(-50%);
}

h2 {
  text-decoration: underline;
  text-decoration-color: #58b5a3;
  text-align: center;
}

.st {
  border-bottom: 3px solid #58b5a3;
}

li {
list-style-type: none;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #58b5a3;
  text-align: center;
}

.pv {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #58b5a3;
  border-radius: 10px;
  padding: 10px;
}









@media only screen and (max-width: 600px) {
  .imgnew{
    height: 200px;
  } 
}

@media only screen and (max-width: 600px) {
  .imgps{
    height: 600px;
  } 
}

@media only screen and (max-width: 600px) {
  .imgpsps{
    height: 224px;
  } 
}
